:root {
  --color-primary: #008cff;
  --color-primary-dark: #0075d6;
  --color-primary-light: #008cff;
  --color-secondary: #2d7aa3;
  --color-secondary-dark: #00355a;
  --color-secondary-light: #00aae3;
  --color-accent-1: #f0f3f3;
  --color-accent-2: #545252;
  --color-accent-3: #fff;
  --color-accent-4: #d9d9d9;
  --font-primary: "Quicksand", sans-serif;
  --font-secondary: "Libre Baskerville", serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-primary);
  font-weight: 500;
}

h2 {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

h3 {
  font-family: var(--font-primary);
  font-weight: 500;
}

a {
  font-family: var(--font-primary);
  text-decoration: none;
}

p {
  font-family: var(--font-primary);
  color: var(--color-accent-3);
}

ul, ol, dl {
  font-family: var(--font-primary);
}

mark {
  background-color: var(--color-primary);
}

h1.black,
p.black {
  color: var(--color-accent-2);
}

.white,
h2.white,
p.white {
  color: var(--color-accent-1);
}

h2.grey,
p.grey {
  color: var(--color-accent-4);
}
