:root {
  --color-primary: #f15a29;
  --color-primary-dark: #f15a29;
  --color-primary-light: #f15a29;
  --color-secondary: #0000;
  --color-secondary-dark: #0000;
  --color-secondary-light: #0000;
  --color-accent-1: #f15a29;
  --color-accent-2: #ffff;
  --font-primary: "Akzidenz-Grotesk BQ", sans-serif;
  --font-secondary: "Arial", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-primary);
  font-weight: 500;
}

h2 {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

h3 {
  font-family: var(--font-primary);
  font-weight: 500;
}

a {
  font-family: var(--font-primary);
  text-decoration: none;
}

p {
  font-family: var(--font-primary);
  color: var(--color-accent-3);
}

ul, ol, dl {
  font-family: var(--font-primary);
}

mark {
  background-color: var(--color-primary);
}

h1.black,
p.black {
  color: var(--color-accent-2);
}

.white,
h2.white,
p.white {
  color: var(--color-accent-1);
}

h2.grey,
p.grey {
  color: var(--color-accent-4);
}
